[Unit]
Description=Hourlybot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/hourlybot/bot.py
Restart=always
EnvironmentFile=/root/hourlybot/config.env

[Install]
WantedBy=multi-user.target